
 <%- include templates/header %>
  
 <div class="userMsg">
        Please choose files to upload

 </div>

    <form  method="post" enctype="multipart/form-data" >
        <input type="file" name="pic" multiple/>
        <button type='submit'> Submit</button>
      </form>
 <%- include templates/footer %>