<div class="searchWrapper">
    <form method="post" action="/search/<%=size%>">
    <label for="search" class="searchBox">search:</label>
    <input id="search" name="searchBox">
    <input type="submit" class="submit">
</form>
</div>