<div class="searchWrapper">
    <form method="post" action="/search/<%=size%>">
  
    <input id="search" name="searchBox" placeholder="Search...">
    <button type="submit" class="submit">
        <i class="fa fa-search"></i>
    </button>
</form>
</div>