body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #f2f2f2;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(90, 173, 206);
  color: white;
}
.topnav a:last-child{
  float: right;
}

a{
  color:rgb(167, 162, 162);
}
form {
  display: block;
}
.userMsg{
  padding:5px 0 ;
}

.picsWrapper{
  padding: 30px;
}

.galleryItemWrapper{
  padding: 5px 20px;
}

.galleryItem{

  display: flex;
  flex-direction: column;
  border: #f2f2f2 solid 1px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;

}

.imgWrapper{
  border-radius:5%;
  border:1px solid grey;
  margin:auto;
  overflow: hidden;

}

.imgWrapper img{
  /* width: 100%; */
  margin-left:auto;
  margin-right:auto;

  display: block;

}

.photoName{
  overflow: hidden;
}


.hide{
  display:none;
}

.selected{
  background-color: yellowgreen;
}

.infoWrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
}
.infoWrapper a{
  font-size: 1.5rem;
}



.paging{
  font-size:2rem;
  padding: 0px 30px;

}

.right{
  float:right;
}
@media (max-width: 650px){
  .large, .small{
    display:none
  }
  .med{
    display:block
  }
}